{% extends "post.html" %}
{% block title %} A test post {% endblock %}
{% block post_title %} The first test post {% endblock %}
{% block author_link %} <a class="post-link" href="about.html#fernandomv3">fernandomv3</a> {% endblock %}
{% block post_content %}
<p> This is a test post and this is the first paragraph, many lines of text should be included here, and this part of the template should be filled with the necessary html for it to appear just as you like it</p>
<p>This is the second and the last paragraph.</p>
{% endblock %}