{% extends "base.html" %}
{% block content %}
<div>
    <article>
        <h2 class="page-title">About fernandomv3's blog</h2>

        <p>Thanks for stopping by my blog, here I post entries about various topics of my personal interest which include but not limted to:</p>
        <ul class="category-list">
        {% for category, markup in global_vars["categories"]| dictsort %}
            <li class="category-item">{{global_vars["categories"][category]|safe}}</li>
        {%  endfor %}
        </ul>
        <p>Opinions in this blog are completely personal and a bit biased depending on my mood and/or the specific topic I am talking about, but feel free to start a discussion on the comments. Please try to be respectful, nobody likes a hater!</p>
    </article>
    <article>
        <h2 class="page-title">About the author</h2>
        <p>I am an Informatics Engineer who also likes CGI. Most of my hobbies are based around technology, data, computer graphics and data science.</p>
        <p>All post are written by me. Some of the info used to write these posts is gathered from the internet and references and citations will be made. In case a source or citation was ommited, please let me know so I can add it to the post.</p>
        <p>Don forget to pay a visit on my tweet for a feed of my blog posts and various retweets about the same topics that are discussed in this blog and some extra tweets you may find of interest.</p>
        <p><a href="https://twitter.com/fernandomv3" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @fernandomv3</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        </p>
    </article>
</div>
{% endblock %}