{% extends "base.html" %}
{% block content %}
<div>
    <!-- A wrapper for all the blog posts -->
    <div class="posts">
        <h1 class="content-subhead">Recent Posts</h1>
        <s class="title-separator"></s>
        <!-- A single blog post -->
        {% for page in meta|selectattr("type","equalto","post")|sort(reverse=True,attribute="date") %}
        {%- if loop.index0 >= 5 %}{% break %}{% endif %}
        <section class="post pure-g">
            <header class="post-header pure-u-1">
                <a class="title-link" href="{{page['name']}}"><h2 class="post-title">{{page["title"]}}</h2></a>
            </header>
            <div class="pure-u-1 pure-u-sm-6-24">
                <img src="{{page['thumbnail']}}" class="pure-img"/>
            </div>
            <div class="post-description pure-u-1 pure-u-sm-18-24">
                {{page["summary"]|safe}}
            </div>
            <div class="pure-u-1">
                {% for catg in page["categories"] %}
                {{global_vars["categories"][catg]|safe}}
                {% endfor %}
            </div>
        </section>
        {%- endfor %}
    </div>
</div>
{% endblock %}